@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f5;
  --foreground: #27272a;
  --card: #ffffff;
  --muted: #52525b;
  --accent: #f64617;
  --separator: #e5e5e5;
}

body {
  @apply bg-background text-foreground font-sans antialiased;
}
